<div style="width:200px">

  <input type="button" class="btn btn-mini btn-success" value="ないので登録する" onclick="open_kind_create_dialog()" />
  <br /><br />

  <div id="kind_buttons_list">
    <%= render 'kinds/buttons_list' %>
  </div>

</div>
