<div class="container" style="margin-left:10px;">
  <div class="row">

    <div class="span8">
    <!-- 画面左側 -->
      <%= render 'form' %>
    </div>

    <div class="span4">
    <!-- 画面右側 -->
      <%= render 'list' %>
    </div>

  </div>
</div>
